body
{
  background-image: url('backgroundimg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.borderR 
{
  margin: 10px;
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  padding: 4%;
  width: 75%; 
  max-width: 720px; 
  min-height: 120px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  transform: translate(-50%, -50%);
}
:placeholder 
{
  color: rgba(0, 0, 0, 0.651);
}

body{
    .btn
     {
      margin-top: 4% !important;
      border: none;
      width: 15em;
      height: 5em;
      border-radius: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      background: #1C1A1C;
      cursor: pointer;
      transition: all 450ms ease-in-out;
    }
    .sparkle 
    {
      fill: #AAAAAA;
      transition: all 800ms ease;
    }
    
    .text
    {
      font-weight: 600;
      color: #AAAAAA;
      font-size: medium;
    }
    
    .btn:hover 
    {
      background: linear-gradient(0deg,#1189B4,#1189B4);
      box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
      inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
      0px 0px 0px 4px rgba(255, 255, 255, 0.2),
      0px 0px 180px 0px #177cff;
      transform: translateY(-2px);
    }
    
    .btn:hover .text
    {
      color: white;
    }
    
    .btn:hover .sparkle
    {
      fill: white;
      transform: scale(1.2);
    } 
  }
    .input
     {
      color: #fff;
      font-size: 0.9rem;
      background-color: transparent;
      width: 90%;
      box-sizing: border-box;
      padding-inline: 0.5em;
      padding-block: 0.7em;
      border: none;
      border-bottom: var(--border-height) solid var(--border-before-color);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .input-border 
    {
      position: absolute;
      background: var(--border-after-color);
      width: 0%;
      height: 2px;
      bottom: 0;
      left: 0;
      transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }
    
    .input:focus 
    {
      outline: none;
    }
    
    .input:focus + .input-border
    {
      width: 100%;
    }
    
    .form-control 
    {
      position: relative;
      --width-of-input: 300px;
    }
    
    .input-alt
    {
      font-size: 1.2rem;
      padding-inline: 1em;
      padding-block: 0.8em;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .input-border-alt 
    {
      height: 3px;
      background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
      transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
    }
    
    .input-alt:focus + .input-border-alt 
    {
      width: 100%;
    }
  input
  {
    margin: 15px;
  }
  .btn
  {
 margin: auto;
  }
  .Btn 
  {
    margin-bottom: 2% !important;
    margin-top: 6%;
    width: 20% !important ;
    height: 10% !important;
  
    background-color: rgb(65, 64, 64);
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.342);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    position: relative;
    overflow: hidden;
    transition-duration: .5s;
  }
  
  .text 
  {
    color: rgb(109,241,255);
    font-weight: 800;
    letter-spacing: 1.1px;
    z-index: 2;
  }
  
  .svgIcon
  {
    z-index: 2;
  }
  
  .svgIcon path
  {
    fill: rgb(109,241,255);
  }
  
  .Btn:hover
  {
    color: rgb(230, 255, 193);
  }
  
  .effect
  {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(109,241,255);
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transition-duration: .5s;
  }
  
  .Btn:hover .effect
  {
    transform: scale(15);
    transform-origin: center;
    opacity: 1;
    transition-duration: .5s;
  }
  
  .Btn:hover
  {
    box-shadow: 0px 0px 5px rgb(109,241,255),
    0px 0px 10px rgb(109,241,255),
    0px 0px 30px rgb(109,241,255);
    transition-duration: .7s;
  }
  
  .Btn:hover .text
  {
    color: rgb(65, 64, 64);
  }
  
  .Btn:hover .svgIcon path
  {
    fill: rgb(65, 64, 64);
  }

  .PB-range-slider 
  {
    
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #D5DBE1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .PB-range-slider::-webkit-slider-thumb
   {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .PB-range-slider::-webkit-slider-thumb:hover
  {
    box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.16);
    transition: 0.3s ease-in-out;
  }
  
  .PB-range-slider::-moz-range-thumb
  {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000000;
    cursor: pointer;
  }
  
  .PB-range-slider-div
  {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
    border: 1px solid #C6CACE;
    box-shadow: 0px 1px 2px 0px #1F1E241F;
  }
  
  .PB-range-slidervalue
  {
    font-weight: 600;
  }
  .btn 
 
 {
  margin-top: 2%;
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
  }
  
  .sparkle
  {
    fill: #AAAAAA;
    transition: all 800ms ease;
  }
  
  .text
  {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium;
  }

  .btn:hover
  
  {
    background: linear-gradient(0deg,#1189B4,#1189B4);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  
  .btn:hover .text 
  {
    color: white;
  }
  .btn:hover .sparkle
   {
    fill: white;
    transform: scale(1.2);
   } 
  label
  {
    position : relative ;
  }

#length
{
  width: 13%;
}

.social-buttons 
{
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 15px #00000027;
  padding: 15px 10px;
  border-radius: 5em;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center !important;
}

@media (min-width: 1024px)
 {
  .Btn
  {
    width: 25%;
  }
  .social-buttons
  {
    width: 20%;
  }
}


@media (max-width: 1023px) and (min-width: 768px)
 {
  .Btn
  {
    width: 40%;
  }
  .social-buttons
  {
    width: 40%;
  }
}


@media (max-width: 767px)
 {
  .btn
  {
    width:50% !important ;
  }
  .Btn
  {
    width: 40% !important;
  }
  .social-buttons
  {
    width: 60%;
  }
}

.social-button
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover
{
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg
{
  transition: 0.3s;
  height: 20px;
}

.github
{
  background-color: #333;
  width: 40px;
}

.github svg
{
  width: 40px;
  fill: #f2f2f2;
}

.github:hover svg
{
  fill: #333;
}

.linkedin
{
  background-color: #0077b5;
  width: 40px; 
}

.linkedin svg
{
  fill: #f2f2f2;
  width: 40px;
}

.linkedin:hover svg
{
  fill: #0077b5;
  width: 40px;
}

.instagram
{
  background-color: #c13584;
  width: 40px;
}

.instagram svg
{
  fill: #f2f2f2;
}

.instagram:hover svg
{
  fill: #c13584;
}

  